__pycache__
.vscode
.idea
*.log
settings.json
debug_files
.VSCodeCounter
.pytest_cache
temp
*.onnx
!assets/mark_model.onnx
!assets/map_model.onnx
.venv
build/**
cpp/build/**
!cpp/build/*.dll
!cpp/build/*.exe
dist
*pth
*pt
.*
!.gitattributes
*dataset